.clients {
  @extend %section-padding;
}
.clients__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 50px;
  color: #212121;
}
.clients__list {
  display: flex;
  justify-content: center;
  gap: 30px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  transition-duration: 250ms;
}
.clients__icon {
  width: 106px;
  height: 60px;
  transition-duration: 250ms;
}

.clients__link:hover {
  border: 1px solid #2196f3;
  border-radius: 4px;
  width: 170px;
  height: 92px;
}
.clients__icon {
  fill: #afb1b8;
}
.clients__item:hover .clients__icon {
  fill: #2196f3;
}
