.contacts {
  display: flex;
  align-items: center;
  gap: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--ColorText);
  transition-duration: 250ms;
}
.contacts__icon-poch {
  width: 16px;
  height: 12px;

  fill: #757575;
}
.contacts__icon-phone {
  width: 10px;
  height: 16px;

  fill: #757575;
}
.contacts__item:hover .contacts__link {
  color: #2196f3;
}
.contacts__item:hover .contacts__icon-poch {
  fill: #2196f3;
}
.contacts__item:hover .contacts__icon-phone {
  fill: #2196f3;
}
