.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.container__footer {
  display: flex;
}
.footer__logo {
  font-family: var(--second-family);
  font-size: 26px;
}
.footer__contacts {
  padding-top: 9px;
}
.contact__item {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  padding-top: 9px;
  color: var(--ColorTextWhite);
}
.footer__contacts {
  padding-top: 9px;
}
.contact__item {
  font-family: var(--font-family);
}
.footer__social {
  margin-left: 70px;
}
.footer__social-title {
  font-weight: 700;
  font-size: 14px;
  display: flex;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.footer__social-list {
  display: flex;
  gap: 10px;
}

.footer__social-link {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer__social-icon {
  width: 20px;
  height: 20px;
  fill: #fff;
}
.footer__social-link:hover {
  background-color: #2196f3;
  transition-duration: 250ms;
}
