.form__name {
  display: flex;
  align-items: center;
  position: relative;
  gap: 12px;
  padding: 11px;
  padding-left: 12px;
  transition-duration: 250ms;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form__input {
  outline: 0;
  outline-offset: 0;
  border: 0px;
  width: 200px;
}
.form__name .form__name:focus-within {
  fill: #2196f3;
}
.form__name:hover,
.form__name:focus-within {
  border: 1px solid #2196f3;
  border-radius: 4px;
}
.form__label {
  display: flex;
  padding-top: 10px;
  padding-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
}
.form__name:hover .form__photo {
  fill: #2196f3;
}
.form__photo {
  width: 18px;
  height: 18px;
}
