.container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header {
  padding-top: 25px;
  padding-bottom: 25px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  margin-right: 95px;
}
.nav__list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav__list {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
}

.nav__link {
  color: var(--ColorTextBlack);
  line-height: 1;
  position: relative;
}
.nav__link:hover {
  color: var(--ColorButtonText);
  transition-duration: 250ms;
}
.nav__link::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--ColorButtonText);
  left: 0;
  height: 3px;
  border-radius: 4px;
  margin-top: 10px;
  width: 0;
  transition: width 200ms ease-out;
}
.nav__link:hover::after,
.nav__link:focus::after {
  width: 100%;
}
