.message {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  max-width: 448px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.massage__container {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #757575;
  align-items: center;
}
.message:hover,
.message:focus-within {
  border: 1px solid #2196f3;
  border-radius: 4px;
}
.message__accepts {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.message__accept-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #2196f3;
}
.message__accept {
  width: 16px;
  height: 15px;
  color: #212121;
}
.message__text {
  padding: 12px 16px;
  max-width: 416px;
  outline: 0;
  outline-offset: 0;
  border: 0px;
  width: 100%;
  resize: none;
  height: 96px;
}
