.modal {
  @include absolute-center;
  padding: 40px;
  background-color: #fff;
  border-radius: 4px;
  @extend %card-shadow;
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.backdrob.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrob.is-hidden .modal {
  transform: scale(-10);
}
.backdrob {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition-duration: 250ms;
}
.subscribes__btn {
  @extend %button-primary;
  padding: 10px 52px;
}
.subscribes__btn:hover {
  background-color: #0167bb;
  transition-duration: 250ms;
}

.modal__close {
  display: flex;
  width: 18px;
  height: 18px;
}
.modal__close:hover {
  fill: #2196f3;
  text-decoration: 250ms;
}
.modal__close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
}
