.work {
  padding-bottom: 95px;
}
.work__title {
  @extend %title-h2;
}
.work__item {
  position: relative;
}
.work__text {
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  letter-spacing: 0.03em;
  font-weight: 700;
  bottom: 0;
  width: 100%;
}
.work__list {
  display: flex;
  gap: 30px;
}
