@mixin transition($prop: all, $time: 250ms, $func: ease) {
  transition: $prop $time $func;
}

@mixin button-hover($color) {
  &:hover {
    background-color: $color;
  }
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
