%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%section-padding {
  padding-top: 95px;
  padding-bottom: 95px;
}

%title-h2 {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
  color: var(--ColorTextBlack);
}

%button-primary {
  font-weight: 700;
  font-size: 16px;
  border-radius: 4px;
  color: #fff;
  background-color: #2196f3;
  transition-duration: 250ms;
}

%card-shadow {
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.1);
}

%icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition-duration: 250ms;
}
