:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  --ColorButtonText: #2196f3;
  --ColorTextBlack: #212121;
  --ColorText: #757575;
  --ColorTextWhite: #fff;
  --ColorBackgroundHero: #2f303a;
}
